* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    display: block;
    margin: 5px 0;
    background-color: blue;
    color: white;
    border: 2px solid black;
}

/* PARTE GRAFICIA */
.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

#campo {
    width: 50vw;
    height: 50vw;
    margin: 0 auto;
}

.quadrato {
    width: calc(50vw / 10);
    height: calc(50vw / 10);
    float: left;
    border: blue;
    background-color: lightgray;
}

.cella {
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.red {
    background-color: red;
}
/* FINE PARTE GRAFICIA */

/* HOVER */
.btn-play:hover {
    transform: scale(1.5);
}

.quadrato:hover {
    background-color: blue;
}
/* FINE HOVER */

/* RANGE LIVELLO */------------------------------------------------------------------------------------------------------

.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    float: left;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.icon {
    float: right;
    background-color: #04AA6D;
  }
  
  .topnav a:hover {
    background-color: red;
    color: white;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }
/* FINE RANGE LIVELLO */
  
  
 